header .header-title {
    @extend %centerElemets;
    flex-direction: column;
    gap: 20px;
    margin: 50px auto;

    h2 {
        font-size: 2rem;
        color: $title-color;
        text-align: center;
    }

    p {
        color: $paragraft-color;
        font-size: $paragraft-size;
        text-align: center;
    }
}